<table class="table">
	<thead><tr><th>List of NFC Quarterbacks</th></tr></thead>
	<tbody>
		<% @qb_list.each do |qb| %>
		<tr><td><%= qb.team %></td><td><%= qb %></td><td><%= qb.college %></td></tr>
		<% end %>
	</tbody>
</table>	